<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map and tempeture</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../src/assets/css/style.css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script defer src="../src/assets/js/index.js"></script>
    <script defer src="../src/assets/js/weather.js"></script>
    <script defer src="../src/assets/js/weather5daysGraph.js"></script>
    <script defer src="../src/assets/js/maps.js"></script>
    <script defer src="../src/assets/js/autoCompletion.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div >
                <label>Entrer une ville : </label>
                <div>
                    <input type="text" list="villeDataList" id="villeSaisie">
                    <datalist id = "villeDataList"></datalist>
                    <button id="btnVille">ok</button>
                </div>
            </div>
            <div id="temperatureDiv"></div>
            <button>Température prévisionnelle</button>
        </div>
        <div>
            <!-- graph -->
            <div id="chartContainer" style = "display:none;"></div>
                <canvas id="myChart" style = "display:none;"></canvas>
            </div>
            <!-- map -->
            <div id='map'></div>
        </div>
    </div>
    
</body>
</html>